.btn {
  display:block;
  background-color: black;
  color: aliceblue;
}
body {
  background: url(https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmVzc2lvbmFsfGVufDB8fDB8fA%3D%3D&w=1000&q=80) no-repeat center center fixed;
  background-size: cover;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
body {
  text-align: center;
}
p {
  font-weight: bolder;
}
.button {
  margin: 0;
  position: absolute;
  left: 43.5%;
}
#cSharp {
  display: none;
}
#javaScript {
  display: none;
}
#ruby {
  display: none;
}
.roll {
  display: none;
}